[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.obj
*.user
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
*.apk
*.aab
*.exe
*.dll
*.so
*.jar


